body{
    margin: 0;
    padding: 0;
    font-family: 'calibri light';
}

#linea{
    width: 100%;
    height: 5px;
    background: #086a87;
}

#header{
    width: 100%;
    height: 90px;
    background: #0b2f3a;
}

#header #centro1{
    width: 800px;
    height: auto; overflow: hidden;
    border: 0px solid; 
    margin: auto;
}

#header #centro1 #logo{
    width: 200px;
    border: 0px solid;
    float: left;
}
#header #centro1 #logo h2,p{
    color: white;   
}
#header #centro1 #logo p{
margin-top: -20px;
}

#header #menu{
    width: 580px;
    height: auto;overflow: hidden;
    border: 0px solid; 
    float: right;
    margin-top: 40px;
    text-align: right;
}

#header #menu ul li{
    display: inline-block;
}
#header #menu ul li a{
    color: #04b4ae;
    text-decoration: none;
    padding: 7px 10px;
    margin: 0px 4px;
}

#header #menu ul li a:hover{
    background: #0a2a29;
}





#Tips{
    width: 80%;
    height: auto;
    text-align: center;
    padding-left: 200px;
}
#Tips h2{
    text-align: center;
    font-size: 25px;
}
#Tips .contenido-p{
    color: #0a2a29;
    text-align: justify;

}
#Tips .titulo-contenido{
    text-align: center;
    font-size: 22px;
}
#Tips .titulo2-contenido{
    text-align: left;
    font-size: 22px;
}
#Tips .img-contenido{
    margin: auto;
   border-radius: 5px;
   border: 0;
}




#pie{
    width: 100%;
    height: 90px;
    background: #0b2f3a;
}
#pie #centro-pie{
    width: 800px;
    height: auto;overflow: hidden;
    margin: auto;
}

.mail{
    color: white;text-decoration: none;
}